<section>
  <img src="https://wallpaperaccess.com/full/2162194.jpg" alt="" style="max-width: 500px" />
  <h4>“Excuse me. I’d like to “ass” you a few questions.” – Ace Ventura</h4>
  <div style="flex-direction: row;justify-content: space-between ">
    <a href={{toProducts}}> <button> View Products </button></a>
    <a href={{toCarts}}> <button> View Carts </button></a>
    <a href={{toLogin}}> <button> Login </button></a>
    <a href={{toRegister}}> <button> Register </button></a>
    <a href={{toProfile}}> <button> View Profile </button></a>
    <a href="https://www.youtube.com/watch?v=BF16eA7sdqo"> <button> When Nature Calls </button></a>
  </div>
</section>