<div>
  <h2>User Info</h2>
  <p>Name: {{user.first_name}} {{user.last_name}}</p>
  <p>Email: {{user.email}}</p>
  <p>Age: {{user.age}}</p>
  <p>Role: {{user.role}}</p>
</div>
<a href="http://localhost:8080/"> <button> Home </button></a>
<button style="width: 120px" id="logout">Logout </button>
<script src="/js/logout.js"></script>